{% extends "AbanGasPart/template.html" %} {% block title %} About {% endblock title %} {% block body %}

<br><br><br><b></b>
<!-- 
<p style="text-align: right;">سلام خوبی</p> -->
<div class="d-flex flex-column mb-3" style="text-align: right; color: rgb(255, 255, 255);display: flex">
    <br>
    <div class="p-2 ">آدرس دفتر مرکزی: مشهد - بلوار خیام شمالی نبش کوچه عقیق پ 1 شماره تماس دفتر: 09155113448</div>
    <br>
    <div class="p-2 ">آدرس کارخانه: خراسان‌ رضوی - چناران - شهرک صنعتی شماره تماس دفتر: 05826239100-1 </div>
    <br>
    <div class="p-2 ">09032876640:شماره تماس</div>
    <div class="p-2 ">09153228802</div>
    <br>
    <br><br><br>
    <div class="p-2 "> <textarea dir="rtl" placeholder="نظرات خود  اینجا وارد کنید" style="background-color: #1a1a1a;color: #f0f0f0;height: 150px;width: 725px;"></textarea></div>
    <!-- <textarea dir="rtl" placeholder="نظرات خود را اینجا وارد کنید" style="background-color: #1a1a1a;color: #f0f0f0; display:flex ;align-items: center;justify-content: center;height: 150px;width: 1250px;"></textarea> -->
</div>
{% endblock body %}